@use "@angular/material" as mat;
@include mat.core();

$financial-bits-client-primary: mat.define-palette(mat.$indigo-palette);
$financial-bits-client-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$financial-bits-client-warn: mat.define-palette(mat.$red-palette);

$financial-bits-client-theme: mat.define-dark-theme(
  (
    color: (
      primary: $financial-bits-client-primary,
      accent: $financial-bits-client-accent,
      warn: $financial-bits-client-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($financial-bits-client-theme);
