/* You can add global styles to this file, and also import other style files */
@tailwind utilities;

@import "primeng/resources/themes/aura-dark-noir/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --border: 1px solid var(--surface-border);
}

body {
  margin: 0;
  background-color: light-dark(#fff, #000);
}
