.mat-mdc-card {
    width: min(600px, 90vw);

    .mat-mdc-card-header{
        position: relative;
    
        .back-button {
            position: absolute;
            top: .25em;
            right: .25em;
        }
    }

    form {
        margin-top: 1em;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr 1fr;
        
        .span-2 {
            grid-column: span 2;
        }
    }

    .submit-button{
        margin-left: auto;
    }
}



