<main>
  <app-card class="card">
    <header class="mb-8 flex justify-between">
      <span class="text-4xl font-bold">Registrar</span>
      <button
        pButton
        pRipple
        icon="pi pi-arrow-left"
        class="p-button-text"
        routerLink="../login"
      ></button>
    </header>
    <form class="grid gap-4" [formGroup]="form" (ngSubmit)="submit()">
      <div appFormField>
        <label for="name">Name</label>
        <input pInputText id="name" formControlName="name" />
      </div>
      <div appFormField>
        <label for="email">Email</label>
        <input pInputText id="email" formControlName="email" />
      </div>
      <div appFormField>
        <label for="password">Password</label>
        <p-password
          inputId="password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
        />
      </div>
      <button
        pButton
        pRipple
        type="submit"
        label="Enviar"
        class="mt-2 w-full"
        [disabled]="form.invalid"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Voltar"
        routerLink="../login"
        class="p-button-text w-full"
      ></button>
    </form>
  </app-card>
</main>
