<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
    <button
      mat-icon-button
      type="submit"
      routerLink="../login"
      class="back-button"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="span-2">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="span-2">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
        />
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="$event.stopPropagation(); showPassword = !showPassword"
        >
          <mat-icon>{{
            showPassword ? "visibility_off" : "visibility_on"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="span-2">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
        />
      </mat-form-field>
      <button
        type="submit"
        style="display: none"
        [disabled]="form.invalid"
      ></button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="submit-button"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </mat-card-actions>
</mat-card>
