<main>
  <app-card>
    <header class="flex mb-8">
      <span class="text-4xl font-bold">Login</span>
    </header>
    <form class="grid gap-4" [formGroup]="form" (ngSubmit)="submit()">
      <div appFormField>
        <label for="email">Email</label>
        <input pInputText id="email" formControlName="email" />
      </div>
      <div appFormField>
        <label for="password">Senha</label>
        <p-password
          inputId="password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
        />
      </div>
      <button
        pButton
        pRipple
        label="Entrar"
        class="mt-2 w-full"
        [disabled]="form.invalid"
      ></button>
    </form>
    <p-divider align="center">
      <span class="text-neutral-500">OR</span>
    </p-divider>
    <button
      pButton
      pRipple
      label="Registrar"
      class="p-button-text w-full"
      routerLink="../register"
    ></button>
    
  </app-card>
</main>
